.fade{
	transition: all 500ms ease-in;
}

.fade-enter {
  transform: translateY(100%)
}

.fade-enter.fade-enter-active {
  transform: translateY(0)
}

.fade-leave {
  transform: translateY(100%)
}

.fade-leave.fade-leave-active {
 	transform: translateY(100%)
}