.breadcrumbs{
	position: fixed;
	left: 5vw;
	top: 50vh;
	transform: translateY(-50%);
	z-index: 1000;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
		a{
			color: #626161;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 40px;
			transition: font-size .2s ease-out;
			letter-spacing: 0.03em;
			&.active{
				color: $primary-color;
				font-size: 80px;
			}
			&.disabled{
				color: #cbcbcb;
				pointer-events: none;
			}
		}
	}
}

.NavPanel{
	background: #fff;
	position: absolute;
	top: 0;
	left: -15vw;
	width: 50vw;
	height: 100vh;
	z-index: 500;
	transform: skew(-25deg);
}

.backbutton{
	position: fixed;
	left: 5vw;
	top: 5vh;
	z-index: 1000;
	a{
		text-transform: uppercase;
		text-decoration: none;
		font-size: 40px;
		transition: font-size .2s ease-out;
		color: #cbcbcb;
		&:before{
			content: url('/assets/img/filter.png');
			padding-right: .5em;
			position: relative;
			top: 10px;
		}
	}
}

.logo{
	position: absolute;
	bottom: 5vh;
	left: 5vw;
	width: 13vw;
	z-index: 500;
	.logo-image{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}