.btn, [type="submit"] {
	cursor: pointer;
	position: relative;
	display: inline-block;
	@include font-rem(13);
	line-height: normal;
	font-weight: bold;
	letter-spacing: .025em;
	color: $white;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: $primary-color;
	padding: 12px 30px;
	vertical-align: middle;
	white-space: nowrap;
	border: solid 2px $primary-color;
	transition: all .30s;
	width: auto;
	margin-bottom: 5px;
	margin-right: 15px;

	&:hover, &.active {
		color: $white;
		background: $secondary-color;
		border: solid 2px $secondary-color;
	}

	&.outline {
		color: $white;
		background: none;
		border: solid 2px $white;

		&:hover, &.active {
			color: $primary-color;
			background: $white;
			border: solid 2px $primary-color;
		}
	}

	&.small {
		@include font-rem(13);
		padding: 5px 10px;
		&.slant {
			padding-left: 40px;
			padding-right: 30px;
		}
	}

	&.medium {
		@include font-rem(13);
		padding: 15px 40px;
	}

	&.large {
		@include font-rem(13);
		padding: 20px 40px;
		&.slant {
			border: none;
			overflow: hidden;
			padding-left: 80px;
			&:before {
				border-bottom: 70px solid transparent;
				border-left: 70px solid #b5b5b5;
				top: -60px;
			}
			&:after {
				border-bottom: 70px solid transparent;
				border-left: 70px solid $white;
				top: -60px;
			}
		}
	}

	&.alt-font {
		font-family: $secondary-font-family;
		letter-spacing: .17em;
	}

	&.secondary {
		color: $white;
		background: $secondary-color;
		border-color: $secondary-color;

		&:hover, &.active {
			color: $white;
			background: darken($secondary-color, 10%);
		}
	}

	&.tiertiary-one {
		color: $white;
		background: $tiertiary-color-one;
		border-color: $tiertiary-color-one;

		&:hover, &.active {
			color: $white;
			background: darken($tiertiary-color-one, 10%);
		}
	}

	&.tiertiary-two {
		color: $white;
		background: $tiertiary-color-two;
		border-color: $tiertiary-color-two;

		&:hover, &.active {
			color: $white;
			background: darken($tiertiary-color-two, 10%);
		}
	}

	&:disabled {
		color: $white;
		background: $tiertiary-color-two;
		border-color: $tiertiary-color-two;
	}

	&.slant {
		border: none;
		overflow: hidden;
		padding-left: 60px;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0px;
			top: -47px;
			border-top: transparent;
			border-bottom: 50px solid transparent;
			border-left: 50px solid #b5b5b5;
			height: 100%;
			width: 50px;
		}
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			left: -6px;
			top: -47px;
			border-top: transparent;
			border-bottom: 50px solid transparent;
			border-left: 50px solid $white;
			height: 100%;
			width: 50px;
		}
	}

	&.slant_right {
		border: none;
		overflow: hidden;
		padding-right: 60px;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			right: 0px;
			top: -47px;
			border-top: transparent;
			border-bottom: 50px solid transparent;
			border-right: 50px solid #b5b5b5;
			height: 100%;
			width: 50px;
		}
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			right: -6px;
			top: -47px;
			border-top: transparent;
			border-bottom: 50px solid transparent;
			border-right: 50px solid $white;
			height: 100%;
			width: 50px;
		}
	}

	[class^="icon-"] {
		position: relative;
		top: 1px;
		@include font-rem(13);
	}

}