.image-gallery-slide{
	background: transparent;
}
.image-gallery-image{
	text-align: center;
	img{
		max-height: 50vh;
		max-width: 100%;
		width: auto;
	}
}
.image-gallery-thumbnails{
	margin-top: 30px;
}
.image-gallery-thumbnail{
	img{
		max-height: 60px;
		max-width: 100%;
		width: auto;
	}
	&.active{
		//background: $primary-color;
		border-color: transparent;
	}
}