/**
 * Font REM
 * -- convert and output px and rem
 * -- font-rem( $font-size-px )
 */
@mixin font-rem( $font-size-px ) {
	$rem-font-size: ( $font-size-px / $reset-font-divider );

	font-size: #{$font-size-px}#{'px'};
	font-size: #{$rem-font-size}#{'rem'};
}

/**
 * Responsive Media Query Helpers
 * -- responsiveQuery(xs)
 * -- responsiveQuery("(min-width: 100em)")
 */
@mixin responsiveQuery($media: null,$number: null) {
	@if $number != null {
		@media only screen and (min-width: $number){ @content; }
	}

	// MOBILE
	@else if $media == xs or $media == 480 {
		@media only screen and (min-width: 30em)   { @content; } // 480
	}

	// PHABLET / SMALL TABLET / NETBOOK / SMALL SCREEN
	@else if $media == s or $media == 600 {
		@media only screen and (min-width: 37.5em) { @content; } // 600
	}
	@else if $media == m or $media == 768 {
		@media only screen and (min-width: 48em)   { @content; } // 768
	}

	// DESKTOP / LARGE TABLET
	@else if $media == l or $media == 1024 {
		@media only screen and (min-width: 64em)   { @content; } // 1024
	}

	// MASSIVE SCREEN
	@else if $media == xl or $media == 1280 {
		@media only screen and (min-width: 80em)   { @content; } // 1280
	}
	@else if $media == xxl or $media == 1440 {
		@media only screen and (min-width: 90em)   { @content; } // 1440
	}
	@else if $media == final or $media == 1920 {
		@media only screen and (min-width: 120em)  { @content; } // 1920
	}
	@else if $media == retina {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { @content; } // retina
	}

	// OTHER
	@else {
		@media only screen and #{$media} { @content; } // anything else
	}
}

/**
 * Clearfix as a mixin
 */
@mixin clearfix() {
	@extend %clearfix;
}

/**
 * Gradients
 */
@mixin background-gradient($start-color, $end-color, $orientation) {
	background: $start-color;

	@if $orientation == 'vertical' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	}
	@else if $orientation == 'horizontal' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	}
	@else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}

/**
 * Horizontally and vertically centers block elements
 *
 * Important: you must have a parent element with `position: relative`.
 */
@mixin center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/**
 * Grayscale Filter
 * -- grayscale( on )
 * -- grayscale( off )
 */
@mixin grayscale( $toggle: "on" ) {
	@if $toggle == "on" {
		filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCc+PGZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnPjxmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDBcJy8+PC9maWx0ZXI+PC9zdmc+#grayscale");
		filter: gray;
		filter: grayscale(100%);
	}

	@if $toggle == "off" {
		filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCc+PGZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnPjxmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcxIDAgMCAwIDAsIDAgMSAwIDAgMCwgMCAwIDEgMCAwLCAwIDAgMCAxIDBcJy8+PC9maWx0ZXI+PC9zdmc+#grayscale");
		filter: grayscale(0%);
	}
}

/**
 * Triangle
 *
 * @include triangle within a pseudo element and add positioning properties (ie. top, left)
 * $direction: up, down, left, right
*/
@mixin triangle($direction, $size: 6px, $color: #222){
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;

	@if ($direction == 'up'){
		border-bottom: $size solid $color;
		border-left: 1/2*$size solid transparent;
		border-right: 1/2*$size solid transparent;
	}
	@else if ($direction == 'down'){
		border-top: $size solid $color;
		border-left: 1/2*$size solid transparent;
		border-right: 1/2*$size solid transparent;
	}
	@else if ($direction == 'left'){
		border-top: 1/2*$size solid transparent;
		border-bottom: 1/2*$size solid transparent;
		border-right: $size solid $color;
	}
	@else if ($direction == 'right'){
		border-top: 1/2*$size solid transparent;
		border-bottom: 1/2*$size solid transparent;
		border-left: $size solid $color;
	}
}

/**
 * Retina Image Helper
 *
 * A helper mixin for applying high-resolution background images (http://www.retinajs.com)
 * by Nathan Crank (nathancrank.com)
 */
@mixin at2x($path, $ext: "jpg") {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";

	background-image: url("#{$at1x_path}");

	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (   min--moz-device-pixel-ratio: 1.5),
	only screen and (     -o-min-device-pixel-ratio: 3/2),
	only screen and (        min-device-pixel-ratio: 1.5),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 1.5dppx) {
		background-image: url("#{$at2x_path}");
	}
}