.fullpage{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: transparent 50% no-repeat;
	background-size: cover;
}

.page_wrap{
	position: absolute;
	top: 0;
	right: 0;
	padding: 2vh 2vw;
	width: 80vw;
	height: 100vh;
	z-index: 700;
	.page_header{
		text-align: right;
		height: 8vh;
		h1{
			font-size: 60px;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0.03em;
			margin: 0;
		}
	}
	.page_content{
		padding: 2vh 0;
		height: 88vh;
	}
}