
.specs_wrap{
	hr, h2, .label_wrapper{
		display: none;
	}
}
.accordion_title {
	width: 100%;
	background: #d1d1d1;
	color: #FFF;
	padding: .25em .5em;
	font-family: $secondary-font-family;
	font-size: 45px;
	letter-spacing: 0.05em;
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;
	cursor: pointer;
	&:after {
		content: "\e905";
		font-size: 17px;
		text-align: right;
		font-family: 'icomoon';
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		background: #f47920;
		height: 48px;
		padding-top: 29px;
		padding-right: 21px;
		width: 71px;
		padding-left: 30px;
	}
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		right: -2px;
		top: -123px;
		border-top: transparent;
		border-bottom: 80px solid transparent;
		border-left: 50px solid #d1d1d1;
		height: 162%;
		width: 74px;
		z-index: 995;
	}
	&.accordion_open {
		&:after {
			content: "\e906";
		}
	}
	&:hover {
		background: darken(#d1d1d1, 10%);
		&:before {
			border-left: 50px solid darken(#d1d1d1, 10%);
		}
	}
}
.accordion_content {
	background: #ebebeb;
	margin-bottom: 5px;
	padding: 15px 12px;
	display: none;
	.show_on_mobile {
		display: block;
		@include responsiveQuery(l) {
			display: none;
		}
	}
	&.display_block{
		display: block;
	}
	.grid__item {
		color: #000;
		font-size: 13px;
		vertical-align: middle;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: $primary-font-family;
		letter-spacing: 0;
		word-wrap: break-word;
		&:before {
			content: attr(data-name);
			display: inline-block;
			width: 50%;
			font-weight: bold;
		}
		&:after {
			content: '';
			width: 100%;
			border-bottom:solid 1px #d1d1d1;
			display: block;
		}
		&.tire_title {
			vertical-align: bottom;
			color: #b7b7b7;
			font-size: 18px;
			padding-top: 20px;
			font-family: $secondary-font-family;
			letter-spacing: 0.05em;
			line-height: 3;
			text-align: left;
			&:before {
				display: none;
			}
		}
		@include responsiveQuery(l) {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}
	.spec_labels {
		//text-transform: uppercase;
		display: none;
		@include responsiveQuery(l) {
			display: block;
		}
		.grid__item {
			vertical-align: bottom;
			color: #b7b7b7;
			font-size: 12px;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1.1;
			&.large-label {
				font-size: 12px;
			}
		}
	}
}

.accordion_open {

	}

.accordion{
	&.open{
		.accordion_title{
			&:after {
				content: "\e906";
			}
		}
		.accordion_content{
			display: block;
		}
	}
}