//checkboxes
:root input[type=checkbox] {
  /* original check box are push outside the viexport */
  position: absolute;
  left: -1000em;
}
:root input[type=checkbox] + label:before {
	content: "";
	display: inline-block;
	width: 39px;
	height: 39px;
	margin: 0 .5em 0 0;
	background: $white 50% no-repeat;
	background-size: cover;
	vertical-align: bottom;
	position: relative;
	bottom: -4px;
	border: 4px solid $white;
}
:root input[type=checkbox]:checked + label:before {
  	background-image: url('../img/check.png');
}

.fullpage{
	&.form_cta{
		background-color: $primary-color;
		color: $white;
	}
	h1{
		text-transform: uppercase;
		text-decoration: none;
		font-size: 80px;
		letter-spacing: 0.05em;
		font-weight: 100;
		line-height: 1;
		margin-bottom: 0;
	}
	p{
		font: 28px/1.5 "Open Sans";
	}
	form{
		padding-top: 1em;
		input{
			font: 30px/1.2 $primary-font-family;
			padding: .5em;
			width: 100%;
			margin: 0 0 1.5em;
		}
		fieldset{
			border: none;
			outline: none;
			margin: 0 0 2em;
			padding: 0;
		}
		label{
			font: 24px/1.5 $primary-font-family;
		}
		button.button{
			padding: 1em 4em;
			font-size: 26px;
		}
	}
}

