.vert_centered_text{
	display: flex;
	justify-content: center;
  	align-items: center;
  	height: 100%;
  	position: relative;
  	z-index: 100;
  	.home & a{
  		color: $white;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 75px;
		text-shadow: 0 0 10px rgba(0,0,0,0.75);
		letter-spacing: 0.03em;
  	}
}

video{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}