.terrains_page{
	.page_content{
		height: 90vh;
		text-align: center;
	}
	.terrain{
		color: $gray-light;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.04em;
		font-size: 35px;
		background: #ffffff 50% no-repeat;
		border: 3px solid $gray-light;
		border-radius: 2px;
		font-family: $primary-font-family;
		padding: 0.3em 2em;
		display: inline-block;
		margin: .5em;
		width: 47.5%;
		text-align: center;
		&:hover{
			color: $primary-color;
			border-color: $primary-color;
		}
	}
}
