.tires{
	width: 100%;
}

.tire_page{
	height: 86vh;
	.page_wrap{
		height: 86vh;
		.page_content{
			height: 93vh;
			.grid.grid--tire{
				height: 89vh;
				//overflow: scroll;
			}
		}
	}
}

.tire_single {
	.tire_single-title {
		color: $black;
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: 0.03em;
	}
	.tire_single-link {
		display: block;
		width: 100%;
		padding: 1em;
		text-align: center;
		text-decoration: none;
		&:hover {
			color: $primary-color;
			.tire_single-title {
				color: $primary-color;
			}
		}
		img {
			width: auto;
			max-height: 20vh;
			max-width: 100%;
		}
	}
	&:nth-child(4n+1){
		clear: both;
	}
}

.tire_content{
	h1{
		font-size: 60px;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0.03em;
			margin: 0;
	}
	p{
		font: 22px/1.5 $primary-font-family;
		color: #585858;
	}
}

.tire__content{
	overflow: scroll;
	height: 89vh;
}

.form__cta{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80vw;
	background: $primary-color;
	text-align: right;
	&-link{
		display: inline-block;
		color: $white;
		text-decoration: none;
		font-size: 45px;
		padding: 50px 40px 50px 120px;
		&:after {
			content: "\e904";
			font-family: 'icomoon';
			position: relative;
			top: 4px;
			padding-left: 30px;
		}
	}
}
