

.vehicle_page{
	.page_content{
		text-align: right;
	}

}
.vehicle_cards{
	text-align: right;
}
.vehicle_card{
	position: relative;
	width: 30vw;
	height: 30vh;
	display: inline-block;
	background: transparent bottom center no-repeat;
	background-size: 100%;
	margin: 0;
	a{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.utv{
		background-image: url('/assets/img/utv.png');
		margin: 2.5vh 5.7vw 4vh 0;
		width: 27vw;
		height: 35vh;
		top: 2.9vh;
	}
	&.atv{
		background-image: url('/assets/img/atv.png');
		height: 41vh;
		width: 25.6vw;
		margin: 0 0 1vh 0;
	}
	&.moto{
		background-image: url('/assets/img/moto.png');
		width: 25.5vw;
		height: 41vh;
		clear: both;
	}
	&.bike{
		background-image: url('/assets/img/bike.png');
		width: 28.1vw;
		height: 35vh;
		margin: 4vh 0 0 3.2vw;
	}
	&__title{
		position: absolute;
		bottom: 5%;
		right: 5%;
		strong{
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0.04em;
			font-size: 50px;
			text-shadow: 0 0 20px rgba(0,0,0,.5);

		}
	}
}