.breadcrumbs{position:fixed;left:10vw;top:50vh;transform:translateY(-50%)}.breadcrumbs ul{margin:0;padding:0}.breadcrumbs li a{color:#fff}.fullpage{position:absolute;top:0;left:0;width:100vw;height:100vh;background:transparent 50% no-repeat;background-size:cover}
