@font-face {font-family: 'AlternateGothicNo2BT-Regular';src: url('../fonts/329D67_0_0.eot');src: url('../fonts/329D67_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/329D67_0_0.woff2') format('woff2'),url('../fonts/329D67_0_0.woff') format('woff'),url('../fonts/329D67_0_0.ttf') format('truetype');}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?k32fel');
  src:  url('../fonts/icomoon.eot?k32fel#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k32fel') format('truetype'),
    url('../fonts/icomoon.woff?k32fel') format('woff'),
    url('../fonts/icomoon.svg?k32fel#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-demo:before {
  content: "\e90e";
}
.icon-360:before {
  content: "\e90f";
}
.icon-Video_Play:before {
  content: "\e90b";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-list:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\ea92";
}