// client colors
$primary-color: #f47920 !default; // orange
$secondary-color: #bd5912 !default; // darker orange
$tiertiary-color-one: #3d4bff !default; //blue
$tiertiary-color-two: #d1d1d1 !default; //darker gray
$tiertiary-color-three: #ebebeb !default; //lighter gray
$black: #000;
$white: #fff;
$gray: #808285 !default;
$gray-light: #a7a5a6;
$gray-dark: #252525;

// sizing
$base-max-width: 100% !default;
$base-page-gutter: 20px !default;

// font sizing
$reset-font-divider: 10;
$reset-font-size: ( 100 / 16 ) * $reset-font-divider !default;
$base-font-size: 16 !default;
$base-line-height: 1.6 !default;

// font styles
$primary-font-family: 'Open Sans', sans-serif !default;
$secondary-font-family: 'AlternateGothicNo2BT-Regular', sans-serif !default;
$base-font-family: $primary-font-family !default;
$base-font-color: $black !default;
$base-text-align: left !default;

// miscellaneous
$highlight-background-color: $primary-color !default;
$highlight-text-color: $white !default;
$hr-color: #ccc !default;

// typography
// heading font sizes based off $base-font-size = 15
$heading-font-sizes-small: (
	'h1': 35,
	'h2': 28,
	'h3': 22,
	'h4': 18,
	'h5': 16,
	'h6': 14
);

$heading-font-sizes-medium: (
	'h1': 40,
	'h2': 28,
	'h3': 22,
	'h4': 18,
	'h5': 16,
	'h6': 14
);

$heading-font-sizes-large: (
	'h1': 45,
	'h2': 28,
	'h3': 22,
	'h4': 18,
	'h5': 16,
	'h6': 14
);

$headings-font-family: $secondary-font-family !default;
$headings-font-weight: normal !default;
$headings-line-height: 1.1 !default;
$headings-color:       inherit !default;

$link-color: $primary-color !default;
$link-color-hover: $secondary-color !default;

$blockquote-font-size:     ceil(($base-font-size * 1.2)) !default; // ~18px
$blockquote-border-color:  $gray !default;
$blockquote-small-color:   $gray !default;